<h2>Список товаров в корзине</h2>
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped"> 
			<thead> 
				<tr> 
					<th>Позиция</th> 
					<th>Пицца</th>
					<th>Цена</th> 
					<th>Количество</th>
					<th>Всего</th> 
				</tr> 
			</thead> 
			<tbody>
				<%i=0%>
				<%@orderlist.each do |k,v|%> 
				<tr>
					<%i=i+1%> 
					<th><%=i%></th> 
					<td><%=k%></td>
					<td><%=v[0]%> Рублей</td> 
					<td><%=v[1]%></td>
					<td><%=v[2]%> Рублей</td>
					<td><img src="<%=v[3]%>" height=30 width=30></td>  
				</tr>
				<%end%> 
			</tbody>	 
		</table>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-md-4 col-md-offset-1 alb">Общее количество товаров: <%=@total[:amount]%></div>
	<div class="col-md-4 col-md-offset-2 alr">Ваш заказ на: <%=@total[:summ]%> Рублей</div>
</div>
<hr/>
<form action="/order">
	<input>
</form>