<h2>Welcome to Pizza Shop!</h2>
<hr/>
<div class="row">
	<% @products.each do |p| %>
		<div class="col-md-3">
			<p class="alg">
				<%= p.title %>
			</p>
			<p>
				<a href="/details/<%=p.id%>"><img src="<%= p.small_image_path %>"></a>
			</p>
			<p>
				<span class="utxt"><%= p.description %></span>
			</p>
			<p>
				<span class="alb">Size</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="utxt"><%= p.size %></span>
			</p>
			<p>
				<span class="alb">Price</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="utxt"><%= p.price %> Rub</span>
			</p>
			<p>
				<button class="btn btn-success btn-sm" onclick="add_to_cart(<%=p.id%>)">Add to cart</button>
			</p>
		</div>
	<% end %>
</div>
<hr/>
<button class="btn btn-success btn-lg" onclick="cart_items()">Click me!</button>

<script type="text/javascript">
	$(function() {
		update_orders();
		update_orders_button();
	});
</script>